// skipNavi
#skipNavi li a {
    display: block;
    width: 100%;
    height: 40px;
    background: #333;
    font: bold 15px/40px 'Noto Sans KR';
    color: #fff;
    text-align: center;
    position: fixed;
    top: -40px;
    left: 0;
    z-index: 2;
}

#skipNavi li a.on {
    top: 0;
}

#header_sub {
    width: 100%;
    position: relative;
    border-bottom: 1px solid #ddd;

    .top {
        width: 100%;
        height: 30px;
        background: #eee;
    }

    .inner {
        width: 1180px;
        margin: 0 auto;
        text-align: center;
        padding-top: 30px;
        position: relative;

        .title {
            margin-bottom: -11px;

            a {
                font: bold 35px/1 'Nanum Myeongjo';
                color: #111;
                letter-spacing: 2px;
            }
        }

        .sub_title {
            font: 13px/1px 'Open Sans';
            color: #444;
            letter-spacing: 3px;
            text-transform: uppercase;
        }

        .menuWeb {
            margin-top: 20px;

            #gnb {
                //1depth
                width: 100%;

                &::after {
                    content: '';
                    display: block;
                    clear: both;
                }

                >li {
                    //1depth li
                    float: left;
                    width: calc(100%/7);

                    >a {
                        display: block;
                        width: 100%;
                        height: 60px;
                        font: bold 15px/60px 'Montserrat';
                        color: #222;
                        font-weight: 400;
                        transition: 0.5s;

                        &:hover,
                        &.on {
                            color: #da8e1e;
                        }
                    }

                    .sub {
                        position: absolute;
                        width: 1180px;
                        height: 250px;
                        top: 164px;
                        right: 0;
                        background: #fff;
                        display: none;

                        &::before {
                            content: '';
                            display: block;
                            width: 100%;
                            height: 100%;
                            background: #ddd;
                            position: absolute;
                            top: 0px;
                            left: -100%;

                        }

                        &::after {
                            content: '';
                            display: block;
                            width: 100%;
                            height: 100%;
                            background: #fff;
                            position: absolute;
                            top: 0px;
                            right: -100%;
                        }

                        .left {
                            width: 250px;
                            height: 100%;
                            background: #ddd;
                            position: absolute;
                            top: 0;
                            left: 0;
                            padding: 20px 30px;
                            text-align: left;

                            h2 {
                                font: bold 25px/1 'Open Sans';
                                color: #333;
                                margin-bottom: 10px;
                                position: relative;
                            }

                            p {
                                font: 13px/1.5 'Open Sans';
                                font-weight: 400;
                                color: #333;
                                margin-bottom: 40px;
                            }

                            a {
                                display: block;
                                width: 100px;
                                height: 30px;
                                border: 1px solid rgba(153, 153, 153, 0.479);
                                font: 13px/30px 'Open Sans';
                                text-align: center;
                                color: #666;
                            }
                        }

                        .right {
                            width: 930px;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            right: 0;
                        }
                    }

                    &.menu_department {

                        //2depth li
                        .sub_content1 {
                            width: 230px;
                            height: 125px;
                            padding: 10px 20px;
                            position: absolute;
                            top: 0;
                            left: 0;

                            h3 {
                                font: 17px/1 'Open Sans';
                                color: #555;
                                font-weight: 700;
                                text-align: left;
                                padding: 20px 30px 10px;

                                &::after {
                                    display: block;
                                    content: '';
                                    border: 1px solid rgba(85, 85, 85, 0.212);
                                    margin-top: 10px;
                                }
                            }

                            ul {
                                li {
                                    text-align: left;
                                    padding: 5px 30px;
                                    box-sizing: border-box;

                                    a {
                                        font: 14px/1 'Open Sans';
                                        color: #444;
                                        transition: 0.5s;

                                        &:hover {
                                            color: #da8e1e;
                                        }
                                    }
                                }
                            }
                        }

                        .sub_content2 {
                            width: 230px;
                            height: 125px;
                            padding: 10px 20px;
                            position: absolute;
                            top: 120px;
                            left: 0;

                            h3 {
                                font: 17px/1 'Open Sans';
                                color: #555;
                                font-weight: 700;
                                text-align: left;
                                padding: 20px 30px 10px;

                                &::after {
                                    display: block;
                                    content: '';
                                    border: 1px solid rgba(85, 85, 85, 0.212);
                                    margin-top: 10px;
                                }
                            }

                            ul {
                                li {
                                    text-align: left;
                                    padding: 5px 30px;
                                    box-sizing: border-box;

                                    a {
                                        font: 14px/1 'Open Sans';
                                        color: #444;
                                        transition: 0.5s;

                                        &:hover {
                                            color: #da8e1e;
                                        }
                                    }
                                }
                            }
                        }

                        .sub_content3 {
                            width: 230px;
                            height: 100%;
                            padding: 10px 20px;
                            position: absolute;
                            top: 0;
                            left: 250px;

                            h3 {
                                font: 17px/1 'Open Sans';
                                color: #555;
                                font-weight: 700;
                                text-align: left;
                                padding: 20px 30px 10px;

                                &::after {
                                    display: block;
                                    content: '';
                                    border: 1px solid rgba(85, 85, 85, 0.212);
                                    margin-top: 10px;
                                }
                            }

                            ul {
                                li {
                                    text-align: left;
                                    padding: 5px 30px;
                                    box-sizing: border-box;

                                    a {
                                        font: 14px/1 'Open Sans';
                                        color: #444;
                                        transition: 0.5s;

                                        &:hover {
                                            color: #da8e1e;
                                        }
                                    }
                                }
                            }
                        }

                        .sub_content4 {

                            img {
                                width: 400px;
                                height: 150px;
                                object-fit: cover;
                                position: absolute;
                                top: 30px;
                                right: 30px;
                            }

                            span {
                                position: absolute;
                                top: 191px;
                                right: 135px;
                                font: 13px/1 'Open Sans';
                                color: #666;
                            }
                        }
                    }

                    &.menu_members {

                        //2depth li
                        .sub_content1,
                        .sub_content2,
                        .sub_content3 {
                            width: 230px;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            padding: 10px 20px;

                            h3 {
                                font: 17px/1 'Open Sans';
                                color: #555;
                                font-weight: 700;
                                text-align: left;
                                padding: 20px 30px 10px;

                                &::after {
                                    display: block;
                                    content: '';
                                    border: 1px solid rgba(85, 85, 85, 0.212);
                                    margin-top: 10px;
                                }
                            }

                            ul {
                                li {
                                    text-align: left;
                                    padding: 5px 30px;
                                    box-sizing: border-box;

                                    a {
                                        font: 14px/1 'Open Sans';
                                        color: #444;
                                        transition: 0.5s;

                                        &:hover {
                                            color: #da8e1e;
                                        }

                                    }
                                }
                            }
                        }

                        .sub_content2 {
                            left: 250px;
                        }

                        .sub_content3 {
                            left: 500px;
                        }

                        .sub_content4 {
                            img {
                                width: 180px;
                                height: 100%;
                                position: absolute;
                                top: 0;
                                right: 0;
                                background: url(../img/gnb_pic2.jpeg) no-repeat center/cover;
                                object-fit: cover;
                            }
                        }
                    }

                    &.menu_youtube {

                        //2depth li               
                        .sub_content1 {
                            img {
                                width: 250px;
                                height: 150px;
                                background: url(../img/gnb_pic3.jpeg) no-repeat center/cover;
                                position: absolute;
                                top: 30px;
                                left: 30px;
                                object-fit: cover;
                            }

                            span {
                                position: absolute;
                                top: 200px;
                                left: 35px;
                                font: 13px/1 'Open Sans';
                                color: #666;
                            }
                        }

                        .sub_content2 {
                            width: 230px;
                            height: 100%;
                            padding: 10px 20px;
                            position: absolute;
                            top: 0;
                            left: 300px;

                            h3 {
                                font: 17px/1 'Open Sans';
                                color: #555;
                                font-weight: 700;
                                text-align: left;
                                padding: 20px 30px 10px;

                                &::after {
                                    display: block;
                                    content: '';
                                    border: 1px solid rgba(85, 85, 85, 0.212);
                                    margin-top: 10px;
                                }
                            }

                            ul {
                                li {
                                    text-align: left;
                                    padding: 5px 30px;
                                    box-sizing: border-box;

                                    a {
                                        font: 14px/1 'Open Sans';
                                        color: #444;
                                        transition: 0.5s;

                                        &:hover {
                                            color: #da8e1e;
                                        }
                                    }
                                }
                            }
                        }

                        .sub_content3 {
                            width: 400px;
                            height: 250px;
                            padding: 10px 20px;
                            position: absolute;
                            top: 0;
                            left: 500px;

                            h3 {
                                font: 17px/1 'Open Sans';
                                color: #555;
                                font-weight: 700;
                                text-align: left;
                                padding: 20px 30px 10px;

                                &::after {
                                    display: block;
                                    content: '';
                                    border: 1px solid rgba(85, 85, 85, 0.212);
                                    margin-top: 10px;
                                }
                            }

                            input[type=email] {
                                width: 200px;
                                height: 30px;
                                border: 1px solid #ddd;
                                padding: 10px;
                                box-sizing: border-box;
                                font: 13px/1 'Open Sans';
                            }

                            input[type=submit] {
                                width: 100px;
                                height: 30px;
                                padding: 10px;
                                box-sizing: border-box;
                                background: #eee;
                                border: 0;
                                font: 13px/1 'Open Sans';
                                color: #666;
                            }
                        }
                    }

                    &.menu_gallery {

                        //2depth li
                        .sub_content1 {
                            img {
                                width: 250px;
                                height: 150px;
                                background: url(../img/gnb_pic4.jpeg) no-repeat center/cover;
                                position: absolute;
                                top: 30px;
                                left: 30px;
                            }

                            span {
                                position: absolute;
                                top: 190px;
                                left: 35px;
                                font: 13px/1 'Open Sans';
                                color: #666;
                            }
                        }

                        .sub_content2 {
                            width: 230px;
                            height: 100%;
                            padding: 10px 20px;
                            position: absolute;
                            top: 0;
                            left: 300px;

                            h3 {
                                font: 17px/1 'Open Sans';
                                color: #555;
                                font-weight: 700;
                                text-align: left;
                                padding: 20px 30px 10px;

                                &::after {
                                    display: block;
                                    content: '';
                                    border: 1px solid rgba(85, 85, 85, 0.212);
                                    margin-top: 10px;
                                }
                            }

                            ul {
                                li {
                                    text-align: left;
                                    padding: 5px 30px;
                                    box-sizing: border-box;

                                    a {
                                        font: 14px/1 'Open Sans';
                                        color: #444;
                                        transition: 0.5s;

                                        &:hover {
                                            color: #da8e1e;
                                        }
                                    }
                                }
                            }
                        }

                        .sub_content3 {
                            width: 230px;
                            height: 100%;
                            padding: 10px 20px;
                            position: absolute;
                            top: 0;
                            left: 500px;

                            h3 {
                                font: 17px/1 'Open Sans';
                                color: #555;
                                font-weight: 700;
                                text-align: left;
                                padding: 20px 30px 10px;

                                &::after {
                                    display: block;
                                    content: '';
                                    border: 1px solid rgba(85, 85, 85, 0.212);
                                    margin-top: 10px;
                                }
                            }

                            ul {
                                li {
                                    text-align: left;
                                    padding: 5px 30px;
                                    box-sizing: border-box;

                                    a {
                                        font: 14px/1 'Open Sans';
                                        color: #444;
                                        transition: 0.5s;

                                        &:hover {
                                            color: #da8e1e;
                                        }
                                    }
                                }
                            }
                        }

                        .sub_content4 {
                            img {
                                width: 180px;
                                height: 100%;
                                background: url(../img/gnb_pic7.jpeg) no-repeat center/cover;
                                position: absolute;
                                top: 0;
                                left: 750px;
                            }
                        }
                    }

                    &.menu_faq {
                        //2depth li
                        display: block;

                        .sub_content1 {
                            width: 500px;
                            height: 100%;
                            padding: 30px 30px;
                            position: absolute;
                            top: 0;
                            left: 0;

                            >p {
                                font: 12px/1 'Open Sans';
                                color: #999;
                                text-align: left;
                            }

                            h3 {
                                font: 17px/1 'Open Sans';
                                color: #555;
                                font-weight: 700;
                                text-align: left;

                                &::after {
                                    display: block;
                                    content: '';
                                    border: 1px solid rgba(85, 85, 85, 0.212);
                                    margin-top: 10px;
                                }
                            }

                            input[type=text] {
                                float: left;
                                width: 50%;
                                height: 35px;
                                border: 1px solid #ddd;
                                padding: 10px;
                                font: 13px/1 'Open Sans';
                                margin-top: 10px;

                                &:nth-of-type(1),
                                &:nth-of-type(3) {
                                    margin-right: 10px;
                                }
                            }

                            textarea {
                                width: 200px;
                                height: 80px;
                                margin-top: 10px;
                                border: 1px solid #ddd;
                                padding: 10px;
                                font: 13px/1 'Open Sans';
                                resize: none;
                            }

                            input[type=submit] {
                                width: 200px;
                                height: 35px;
                                margin-top: 5px;
                                border: 1px solid #ddd;
                                font: 13px/1 'Open Sans';
                                cursor: pointer;
                            }
                        }

                        .sub_content2 {
                            width: 430px;
                            height: 100%;
                            padding: 30px 30px;
                            position: absolute;
                            top: 0;
                            left: 500px;

                            >p {
                                font: 12px/1 'Open Sans';
                                color: #999;
                                text-align: left;
                            }

                            h3 {
                                font: 17px/1 'Open Sans';
                                color: #555;
                                font-weight: 700;
                                text-align: left;

                                &::after {
                                    width: 80%;
                                    display: block;
                                    content: '';
                                    border: 1px solid rgba(85, 85, 85, 0.212);
                                    margin-top: 10px;
                                }
                            }

                            .content_box {
                                width: 80%;
                                height: 125px;
                                margin-top: 10px;
                                background: #eee;
                                padding: 10px;
                                text-align: center;

                                h4 {
                                    font: 15px/1 'Open Sans';
                                    color: #888;
                                    margin-bottom: 10px;
                                }

                                p {
                                    &:nth-of-type(1) {
                                        font: 20px/1 'Open Sans';
                                        font-weight: 700;
                                        color: #888;
                                        margin-bottom: 10px;
                                    }

                                    &:nth-of-type(2) {
                                        font: 13px/1 'Open Sans';
                                        color: #888;
                                        margin-bottom: 10px;
                                    }
                                }

                                a {
                                    display: block;
                                    width: 150px;
                                    height: 25px;
                                    border: 1px solid #ccc;
                                    font: 14px/25px 'Open Sans';
                                    color: #888;
                                    text-align: center;
                                    margin: 0 auto;
                                }
                            }
                        }
                    }

                    &.menu_community {

                        //2depth li
                        .sub_content1 {
                            img {
                                width: 250px;
                                height: 150px;
                                background: url(../img/gnb_pic6.jpeg) no-repeat center/cover;
                                position: absolute;
                                top: 30px;
                                left: 30px;
                            }

                            span {
                                position: absolute;
                                top: 190px;
                                left: 35px;
                                font: 13px/1 'Open Sans';
                                color: #666;
                            }

                        }

                        .sub_content2 {
                            width: 230px;
                            height: 100%;
                            padding: 10px 20px;
                            position: absolute;
                            top: 0;
                            left: 300px;

                            h3 {
                                font: 17px/1 'Open Sans';
                                color: #555;
                                font-weight: 700;
                                text-align: left;
                                padding: 20px 30px 10px;

                                &::after {
                                    display: block;
                                    content: '';
                                    border: 1px solid rgba(85, 85, 85, 0.212);
                                    margin-top: 10px;
                                }
                            }

                            ul {
                                li {
                                    text-align: left;
                                    padding: 5px 30px;
                                    box-sizing: border-box;

                                    a {
                                        font: 14px/1 'Open Sans';
                                        color: #444;
                                        transition: 0.5s;

                                        &:hover {
                                            color: #da8e1e;
                                        }
                                    }
                                }
                            }
                        }

                        .sub_content3 {
                            width: 230px;
                            height: 100%;
                            padding: 10px 20px;
                            position: absolute;
                            top: 0;
                            left: 500px;

                            h3 {
                                font: 17px/1 'Open Sans';
                                color: #555;
                                font-weight: 700;
                                text-align: left;
                                padding: 20px 30px 10px;

                                &::after {
                                    display: block;
                                    content: '';
                                    border: 1px solid rgba(85, 85, 85, 0.212);
                                    margin-top: 10px;
                                }
                            }

                            ul {
                                li {
                                    text-align: left;
                                    padding: 5px 30px;
                                    box-sizing: border-box;

                                    a {
                                        font: 14px/1 'Open Sans';
                                        color: #444;
                                        transition: 0.5s;

                                        &:hover {
                                            color: #da8e1e;
                                        }
                                    }
                                }
                            }
                        }

                        .sub_content4 {
                            img {
                                width: 180px;
                                height: 100%;
                                background: url(../img/gnb_pic5.jpeg) no-repeat center/cover;
                                position: absolute;
                                top: 0;
                                left: 750px;
                            }
                        }
                    }

                    &.menu_location {

                        //2depth li
                        .sub_content1,
                        .sub_content2,
                        .sub_content3 {
                            width: 230px;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            padding: 10px 20px;

                            h3 {
                                font: 17px/1 'Open Sans';
                                color: #555;
                                font-weight: 700;
                                text-align: left;
                                padding: 20px 30px 10px;

                                &::after {
                                    display: block;
                                    content: '';
                                    border: 1px solid rgba(85, 85, 85, 0.212);
                                    margin-top: 10px;
                                }
                            }

                            ul {
                                li {
                                    text-align: left;
                                    padding: 5px 30px;
                                    box-sizing: border-box;

                                    a {
                                        font: 14px/1 'Open Sans';
                                        color: #444;
                                        transition: 0.5s;

                                        &:hover {
                                            color: #da8e1e;
                                        }

                                    }
                                }
                            }
                        }

                        .sub_content2 {
                            left: 250px;
                        }

                        .sub_content3 {
                            left: 500px;
                        }

                        .sub_content4 {
                            img {
                                width: 180px;
                                height: 100%;
                                position: absolute;
                                top: 0;
                                right: 0;
                                background: url(../img/gnb_pic8.jpeg) no-repeat center/cover;
                            }
                        }
                    }
                }
            }
        }

        .menuMo {
            position: fixed;
            top: 0;
            left: -300px;
            width: 300px;
            height: 100%;
            background: #efefef;
            z-index: 10;
            display: none;
            transition: all 0.5s;
            padding: 35px 30px;
            box-sizing: border-box;


            h1 {
                border-bottom: 1px solid #ccc;
                margin-bottom: 30px;

                a {
                    color: #222;
                    display: block;
                    text-align: center;
                    font: bold 24px/1 'Nanum Myeongjo';
                    margin-bottom: -12px;
                }

                span {
                    text-transform: uppercase;
                    font: 10px/1 'Montserrat';
                    letter-spacing: 2px;
                    color: #444;
                }
            }

            img {
                width: 90px;
                height: 90px;
                border-radius: 50%;
                object-fit: cover;
            }

            h2 {
                font: 20px/1 'Montserrat';
                font-weight: 400;
                margin-top: 10px;
            }

            .gnbMo {
                margin-top: 30px;

                li {
                    a {
                        display: inline-block;
                        width: 100%;
                        padding: 20px 0;
                        border-bottom: 1px solid #ccc;
                        font: 14px/1 'Montserrat';
                        color: #333;
                        text-align: left;

                        i {
                            font-size: 14px;
                            color: #555;
                            margin-right: 20px;
                        }
                    }
                }
            }

            &.on {
                left: 0%;
            }
        }

        .util {
            position: absolute;
            top: -28px;
            right: 0;

            li {
                float: left;

                &:last-of-type {
                    a {
                        &::after {
                            display: none;
                        }
                    }
                }

                a {
                    font: 13px/1 'Open Sans';
                    color: #666;
                    padding: 0 10px;
                    position: relative;

                    &::after {
                        display: block;
                        content: '';
                        position: absolute;
                        right: 0;
                        top: 50%;
                        margin-top: -4px;
                        height: 8px;
                        border-right: 1px solid #aaa;
                    }

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        .menu_right {
            position: absolute;
            top: 50px;
            right: 0px;

            li {
                float: left;
                margin-left: 20px;
            }
        }

        .btn_content {
            position: absolute;
            right: 26px;
            top: 22px;
            display: none;

            .btnCall {
                display: block;
                width: 20px;
                height: 20px;
                position: relative;

                span {
                    display: block;
                    width: 100%;
                    height: 2px;
                    background: #000;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    margin-top: -1px;
                    transition: all 0.5s;
                    text-indent: -9999px;
                }

                &::before {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 2px;
                    background: #000;
                    position: absolute;
                    top: 0;
                    left: 0;
                    transition: top 0.5s 0s, transform 0.5s 0.5s;
                }

                &::after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 2px;
                    background: #000;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    transition: bottom 0.5s 0s, transform 0.5s 0.5s;
                }

                &.on::before {
                    transform: rotate(45deg);
                    top: calc(50% - 1px);
                }

                &.on::after {
                    transform: rotate(-45deg);
                    bottom: calc(50% - 1px);
                }

                &.on span {
                    transform: translateX(100%);
                    opacity: 0;
                }
            }
        }
    }

    .menuWeb_fullsreen {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: #000000e1;
        z-index: 10;
        display: none;
        transition: all 0.5s;
        padding: 35px 30px;

        h1 {
            border-bottom: 1px solid #666;

            a {
                color: #fff;
                display: block;
                font: bold 24px/1 'Nanum Myeongjo';
                margin-bottom: -12px;
            }

            span {
                text-transform: uppercase;
                font: 10px/1 'Montserrat';
                letter-spacing: 2px;
                color: #aaa;
            }

            i {
                color: #eee;
                cursor: pointer;
                position: absolute;
                top: 34px;
                right: 48px;
            }
        }

        .gnbWeb_fullsreen {
            margin-top: 30px;
            transition: all 0.5s;

            li {
                a {
                    display: block;
                    width: 100%;
                    padding: 20px 0;
                    font: 14px/1 'Montserrat';
                    color: #aaa;
                }
            }
        }

        &.on {
            left: 0%;
            display: block;
            transition: all 0.5s;
        }
    }
}

