// about_us
#about_us {
    width: 100%;

    .inner {
        width: 1180px;
        margin: 0 auto;
        padding: 100px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;

        .left {
            width: 50%;
            padding: 0 50px;

            img {
                width: 100%;
                transform: translateX(-100px);
                opacity: 0;
                transition: 0.5s;
            }
        }

        .right {
            width: 50%;
            padding: 0 50px;
            transform: translateX(100px);
            opacity: 0;
            transition: 0.5s;

            h1 {
                font: bold 30px/1 'Titillium Web';
                color: #333;
                margin-bottom: 20px;
            }

            >p {
                font: 16px/1.5 'Open Sans';
                color: #555;
                margin-bottom: 20px;
            }

            ul {
                li {
                    font: 14px/1 'Open Sans';
                    color: #666;
                    margin-bottom: 15px;

                    i {
                        color: #8a89b1;
                        margin-right: 5px;
                    }
                }
            }

            .icon_box {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: row;
                margin-top: 50px;

                .icon_box_left {
                    width: 50%;
                    margin-right: 20px;
                }

                .icon_box_right {
                    width: 50%;
                }

                i {
                    font-size: 30px;
                    color: #6d6ca7;
                    margin-bottom: 10px;
                }

                h2 {
                    font: bold 19px/1 'Titillium Web';
                    color: #444;
                    margin-bottom: 10px;
                }

                p {
                    font: 13px/1.5 'Open Sans';
                    color: #666;
                }
            }

        }
    }

    &.on {
        .inner {
            .left {
                img {
                    transform: translateX(0px);
                    opacity: 1;
                }
            }

            .right {
                transform: translateX(0px);
                opacity: 1;
            }
        }
    }
}

// tablet
@media screen and (max-width: $tablet) {
    // about_us
    #about_us {
        .inner {
            width: 100%;
            padding: 60px 30px;

            .right {
                >p {
                    font: 15px/1.5 'Open Sans';
                }
            }
        }
    }
}

// mobile
@media screen and (max-width: $mobile) {
    // about_us
    #about_us {
        .inner {
            flex-direction: column;

            .left {
                width: 100%;
                padding: 0;
                margin-bottom: 30px;
            }

            .right {
                width: 100%;
                padding: 0;
            }
        }
    }
}